.DS_Store
config.py

__pycache__/
*.py[cod]
*$py.class

*.so

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

pip-log.txt
pip-delete-this-directory.txt

instance/
.webassets-cache

.python-version

.env

venv/
ENV/

bin/
include/
pip-selfcheck.json
