{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p class="error">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}
<form method="post" name="login" action="/login">
    <label for="username">Username</label>
    <input type="text" placeholder="Enter your username here" name="username" id="username" value="{{ username }}">

    <label for="roomid">Room Code</label>
    <input type="text" placeholder="Enter the room code here" name="roomid" id="roomid" value="{{ room }}">

    <input class="button-primary" type="submit" value="Submit">
</form>
{% endblock %}
